*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.head_container{
    color: white;
    background-color:#603601;
    padding: 7px;
    
}

.head_nav{
    background-color:#CC9544;
    padding: 3px;
    border: 2px solid black;    
}

.head_nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}


.banner img{
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid sandybrown;
}

.book_container{
    margin: 2em;
}

.book_heading{
    
}

.book_heading h1{
    color: white;
}

.book_body{
    margin: 2em;
}

.book_heading2 h4{
    color: white;
}

.book_content{
    margin: 2em;
}
.book_content p{
    color: white;
    text-align: justify;
}

#p01{
    text-align: right;
}


.book_body3{
    margin: 4em;
    color: white;
}

.book_heading3{
    
    color: white;
}

.book_content3{
    margin: 2em;
    color: white;
    text-align: justify;
}

.book_content3 p{
    background-color: rgba(156, 120, 27, 0.652);
    border-radius: 20px;
    padding: 25px;
}

.book_content3 i{
    float: right;
}